.tab-pane
{
    -fx-tab-min-width:60px;
}

.tab .tab-label { 
    -fx-alignment: CENTER;
    -fx-font-size: 11px;
    -fx-font-weight: bold;
    
}


.tab-pane .tab-header-area .tab-header-background {
    -fx-opacity: 0;
}

.tab-pane *.tab-header-background {
    -fx-background-color: -fx-outer-border, -fx-inner-border, derive(-fx-color, -20%);
    -fx-effect: innershadow(two-pass-box , rgba(0,0,0,0.6) , 4, 0.0 , 0 , 0);
}



/*
.tab{
    -fx-background-insets: 0 1 0 1,0,0;
}
.tab-pane .tab
{
    -fx-background-color: #e6e6e6;

}

.tab-pane .tab:selected
{
    -fx-alignment: CENTER;
    -fx-background-color:#000000,linear-gradient(#7ebcea, #2f4b8f),  linear-gradient(#426ab7, #263e75),linear-gradient(#395cab, #223768);
     -fx-background-insets: 0,1,2,3;
     -fx-background-radius: 3,2,2,2;
     -fx-text-fill: white;
}

.tab .tab-label { 
    -fx-alignment: CENTER;
    -fx-text-fill: #828282;
    -fx-font-size: 11px;
    -fx-font-weight: bold;
}

.tab:selected .tab-label { 
    -fx-alignment: CENTER;
    -fx-text-fill: #96b946;
    -fx-background-color:#000000,linear-gradient(#7ebcea, #2f4b8f),  linear-gradient(#426ab7, #263e75),linear-gradient(#395cab, #223768);
     -fx-background-insets: 0,1,2,3;
     -fx-background-radius: 3,2,2,2;
     -fx-text-fill: white;
}*/